# Structured Query Language (SQL)

Recordemos que los <b>lenguajes</b> son las herramientas a traves de las cuales interactuamos con los modelos de datos.

En el contexto de base de datos los lenguajes se dividen en varios tipos:
- De <b>definicion de datos</b>: Nos permiten expresar la estructura y las restricciones de nuestro modelo de datos.
- De <b>manipulacion de datos</b>: Nos permiten ingresar, modificar, eliminar y consultar datos en nuestro modelo.
- De <b>control de datos</b>: Manejan cuestiones vinculadas con los permisos de acceso a los datos.

Hoy en dia el lenguaje <b>SQL</b> es el estandar para la operacion de bases de datos relacionales.

Es tanto un lenguaje de definicion de datos (DDL) como de manipulacion de datos (DML).

Modelo Relacional|SQL
-|-
Relacion|Tabla
Tupla|Fila
Atributo|Columna

Supongamos que queremos obtener las peliculas que ganaron al menos un oscard.

## Ejemplo

\begin{equation}
\large Peliculas
\end{equation}

nombre_pelicula|año|nombre_director|cant_oscars
-|-|-|-
Kill Bill|2003|Quentin Tarantino|0
Django Unchained|2012|Quentin Tarantino|2
Star Wars|2005|George Lucas|0
Coco|2017|Lee Unkrich|2

<b>SELECT</b> *<br>
<b>FROM</b> Peliculas<br>
<b>WHERE</b> cant_oscars > 0;

nombre_pelicula|año|nombre_director|cant_oscars
-|-|-|-
Django Unchained|2012|Quentin Tarantino|2
Coco|2017|Lee Unkrich|2

<hr>

La version original de SQL se denomina <b>SEQUEL</b> (structured english query language) y fue desarrollada por IBM Research (1974). Fue implementado en el System R de IBM (1977). El primer producto comercial basado en SEQUEL fue <b>Oracle</b> (1979).

<hr>

## Especificacion

<hr>

### Creacion de una Base de Datos

El comando <b>CREATE SCHEMA</b> nos permite crear un nuevo esquema de base de datos dentro de nuestro SGBD (Sistema de Gestion de base de datos)

Sintaxis:

<b>CREATE SCHEMA</b> nombre_schema [ <b>AUTHORIZATION</b> AuthId];

Ejemplo:

<b>CREATE SCHEMA</b> empresa [ <b>AUTHORIZATION</b> mbeiro];

- La opcion <b>AUTHORIZATION</b> identifica quien sera el <b>dueño</b> del esquema.
- En un entorno SQL pueden haber varios esquemas de bases de datos. Los esquemas se agrupan en colecciones denominadas <b>catalogos</b>.
- Todo catalogo contiene un esquema llamado <b>INFORMATION SCHEMA</b>, que describe a todos los demas esquemas contenidos en el.

<hr>

### Tipos de variables en SQL

Tipos <b>numericos</b> estandar:

- <b>INTEGER</b>: Tipo entero. Abreviado <b>INT</b>.
- <b>SMALLINT</b>: Tipo entero pequeño.
- <b>FLOAT (n)</b>: Tipo numerico aproximado. n indica la precision en bits.
- <b>DOUBLE PRECISION</b>: Tipo numerico aproximado de alta precision.
- <b>NUMERIC (i, j)</b>: Tipo numerico exacto. Permite especificar la precision (i) y la escala (j) en digitos.

<b>Strings</b>: Se delimitan con comillas simples (')

- <b>CHARACTER (n)</b>: De logitud fija. Abreviado <b>CHAR (n)</b>
- <b>CHARACTER VARYING (n)</b>: De longitud variable. Abrev. <b>VARCHAR (n)</b>

Fecha y hora:
- <b>DATE</b>: Precision de dias. Se ingresa como string con formato YYYY-MM-DD.
- <b>TIME (i)</b>: Precision de hasta microsegundos. Se ingresa como string con formato HH:MM:SS.[0-9] (ISO 8601). Tantos digitos decimales como i.
- <b>TIMESTAMP (i)</b>: Combina un DATE y un TIME(i)

Booleanos:
- <b>BOOLEAN</b>: TRUE, FALSE o UNKNOWN. Se emplea logica de tres valores.

Otros tipos:
- <b>CLOB</b>: (Character Large Object) Para documentos de texto de gran extension.
- <b>BLOB</b>: (Binary Large Object) Para archivos binarios de gran extension.

Tipos definidos por el usuario:<br>
<b>CREATE DOMAIN</b> NOMBRE_DOMINIO <b>AS</b> TIPO_BASICO;

Ejemplo:

<b>CREATE DOMAIN</b> CODIGO_PAIS <b>AS CHAR</b>(2);

Este tipo facilita la realizacion de cambios futuros en el diseño.

<hr>

### Creacion de una tabla

El comando <b>CREATE TABLE</b> nos permite definir la estructura de una tabla:

<b>CREATE TABLE</b> Persona (<br>
dni_persona <b>INT PRIMARY KEY</b>,<br>
nombre_persona <b>VAR CHAR</b>(255),<br>
fecha_nacimiento <b>DATE</b>);

<b>CREATE TABLE</b> HijoDe (<br>
dni_hijo <b>INT</b>,<br>
dni_padre <b>INT</b>,<br>
<b>PRIMARY KEY</b> (dni_hijo, dni_padre),<br>
<b>FOREING_KEY</b> (dni_hijo) <b>REFERENCES</b> Persona(dni_persona)<br>
<b>FOREING_KEY</b> (dni_padre) <b>REFERENCES</b> Persona(dni_persona)<br>

<hr>

Las columnas tambien pueden ser configuradas con valores por defecto (<b>DEFAULT</b>) o autoincrementales (<b>AUTO_INCREMENT</b>).

<hr>

### Restricciones de dominio

#### Restriccion NOT NULL

fecha_nac <b>DATE NOT NULL</b>

#### Restriccion dinamica

Restringir aun mas el conjunto de valores posibles, a traves de un "chequeo en forma dinamica":

CUIT_tipo <b>INT CHECK</b> (CUIT_TIPO=20) <b>20</b> (CUIT_TIPO=23) <b>OR</b> ...

#### Nota (Clave primaria)

La clave primaria se indica con <b>PRIMARY KEY</b>. Si esta compuesta de una unica columna, puede indicarse a continuacion el tipo.

#### Nota (Palabra clave UNIQUE)

Con esta palabra clave se indica que una columna o conjunto de columnas no puede estar repetido en dos filas distintas.

<hr>

### Restricciones de Integridad

#### Integridad de entidad

La clave primaria de una tabla nunca deberia ser NULL, aunque algunos SGBS lo permiten.

#### Integridad referencial

Las claves foraneas se especifican con <b>FOREING KEY...REFERENCES</b>

<hr>

### SQL vs Modelo Relacional

En el modelo relacional una relacion es un conjunto cuyos elementos son las tuplas. Por lo tanto, una tupla no puede estar repetida en una relacion. En SQL se permite que una fila este repetida muchas veces en una tabla. Este concepto se conoce como <b>multiset</b> o <b>bag of tuples</b>

<hr>

### Manipulacion de datos en SQL

El esquema basico de una consulta en SQL es:

<b>SELECT</b> $A_1$, $A_2$, ..., $A_n$ <br>
<b>FROM</b> $T_1$, $T_2$, ..., $T_m$ <br>
[ <b>WHERE</b> condition];

En donde $A_1$, $A_2$, ..., $A_n$ es una lista de nombres de columnas, $T_1$, $T_2$, ..., $T_m$ es una lista de nombres de tablas, y condition es una condicion.

Es el analogo de la siguiente expresion en el Algebra Relacional:

\begin{equation}
\large \pi_{A_1, A_2, ..., A_n} (\sigma_{condition}(T_1 x T_2 x ... x T_m))
\end{equation}

Con la diferencia de que en SQL la proyeccion no elimina filas repetidas.